<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layoutprincipal.html}">

<head>
    <title>Manter Coordenador</title>
</head>

<body>
    <div class=" container" layout:fragment="conteudoprincipal">
        <div class="p-4 p-md-5 mt-4 mb-4 rounded text-body-emphasis" style="background-color: #E9F1FA;">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Manter Coordenador</h1>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Data de Admissão</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="coordenador : ${coordenadores}">
                    <th scope="row"><span th:text="${coordenador.idPessoa}"></span></th>
                    <td><span th:text="${coordenador.nome}"></span></td>
                    <td><span th:text="${coordenador.cpf}"></span></td>
                    <td><span th:text="${#dates.format(coordenador.dataNascimento, 'dd/MM/yyyy')}"></span></td>
                    <td><span th:text="${#dates.format(coordenador.dataAdmissao, 'dd/MM/yyyy')}"></span></td>
                    <td><span th:text="${coordenador.status}"></span></td>
                    <td>
                        <form th:action="@{/salvarcoordenador/{id}(id=${coordenador.idPessoa})}" method="get"
                            onsubmit="return confirm('Deseja realmente editar este coordenador?');">
                            <button type="submit" class="btn btn-warning">Editar</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/removergerente/{id}(id=${gerente.idPessoa})}" method="get"
                            onsubmit="return confirm('Deseja realmente remover este gerente?');">
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>