<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layoutprincipal.html}">

<head>
    <title>Salvar Holerite</title>
</head>

<body>
   <div layout:fragment="conteudoprincipal">


    <div class="p-4 p-md-5 mt-4 mb-4 rounded text-body-emphasis" , style="background-color: #E9F1FA;">
        <div class="col-lg-6 px-0">

            <h1 class="display-4 fst-italic">Salvar Holerite</h1>
            <p class="lead my-3">Preencha os dados do holerite .</p>
            <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <form action="/salvarholerite" method="post" th:object="${holerite}">
        <input type="hidden" th:field="*{idHolerite}">

        <div class="row mb-3">
            <div class="col-md-8">
                <label for="nome" class="form-label">Nome</label>

                <select id="funcionario" class="form-select" name="funcionario">

                    <option th:each="func : ${funcionarios}" th:value="${func.id}" th:data-cpf="${func.cpf}"
                        th:data-cargo="${func.cargo}" th:text="${func.nome}">
                    </option>


                </select>
            </div>
            <div class="mb-3">
                <label>CPF</label>
                <input type="text" id="cpf" class="form-control" readonly>
            </div>

            <div class="mb-3">
                <label>Cargo</label>
                <input type="text" id="cargo" class="form-control" readonly>
            </div>

            <script>
                const select = document.getElementById('funcionario');
                const cpfInput = document.getElementById('cpf');
                const cargoInput = document.getElementById('cargo');

                select.addEventListener('change', function () {
                    const selectedOption = select.options[select.selectedIndex];
                    cpfInput.value = selectedOption.getAttribute('data-cpf');
                    cargoInput.value = selectedOption.getAttribute('data-cargo');
                });

                // inicializa com o primeiro funcionário
                if (select.options.length > 0) {
                    const firstOption = select.options[select.selectedIndex];
                    cpfInput.value = firstOption.getAttribute('data-cpf');
                    cargoInput.value = firstOption.getAttribute('data-cargo');
                }
            </script>


            <div class="mb-3">
                <label>Mês de Referência</label>
                <input type="text" class="form-control" th:field="*{mesReferencia}">
            </div>

            <div class="mb-3">
                <label>Salário Base</label>
                <input type="number" step="0.01" class="form-control" th:field="*{salarioBase}">
            </div>
            <div class="mb-3">
                <label>Descontos</label>
                <input type="number" step="0.01" class="form-control" th:field="*{descontos}">
            </div>

            <div class="mb-3">
                <label>Benefícios</label>
                <input type="number" step="0.01" class="form-control" th:field="*{beneficios}">
            </div>

            <div class="mb-3">
                <label>Data de Pagamento</label>
                <input type="date" class="form-control" th:field="*{dataPagamento}">
            </div>

            <div class="col-md-12 mt-4">
                <button type="submit" class="btn btn-primary">Lançar Holerite</button>
            </div>
        </div>
    </form>
 </div>
</body>

</html>